<!DOCTYPE HTML>
<html>
<head>
    <title> Liverary! </title>
    <meta http-equiv="Content-Type" content="text/html;
                                            charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div><a href="/homepage">LIVERARY</a></div>
    <a href="/homepage" height="5" width="10" target="_blank">
        <img src="\images\logo.png" alt="위의 이미지를 누르면 연결됩니다.">
        <a>