{{>layout/header}}
<form method = "post" action = "/upload" enctype="multipart/form-data">
    <input multiple type="file" name = "file">
    <button type = "submit">submit</button>

</form>
{{>layout/footer}}