{{! homepage }}
{{! 관리자로 로그인시 책 등록을 할수있는 버튼을 보이도록 구현하자 }}
<!DOCTYPE HTML>
<html>
<head>
    <title> liverary homepage </title>
    <meta http-equiv="Content-Type" content="text/html;
                                            charset=UTF-8" />
</head>
<body>
<h1> 동화팅 liverary 홈페이지 </h1>

</body>
</html>