
{{>layout/header}}
<h1> 동화팅 liverary 홈페이지 </h1>
책 검색, 내정보 페이지로 연결, 전체 책 리스트 등록 일자에 따라 표시, 내가 읽고 있는 책 리스트 표시

<div class="col-md-12">
    <div class="row">

        <div id="searchbar">
            <form action="/search" method="GET">
                <div>
                    <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
                </div>

                <button>검색하기</button>
            </form>
        </div>

        <div>
            {{#userName}}
                <span id="user">{{userName}}</span>님 안녕하세요
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            <a href="/user/info" role="button" class="btn btn-primary">내 정보</a>
        </div>
    </div>
    <div class="row">
        <a href="/book/save" role="button" class="btn btn-primary">책 등록</a>
        <a href="/book/delete" role="button" class="btn btn-primary">책 삭제</a>
    </div>
</div>

<!--목록 출력 영역-->
<h2>내가 읽는 중인 책 list</h2>
<table class = "table table-horizontal table-bordered">
    <thead class = "thead-strong">
    <tr>
        <th> 책이름 </th>
        <th> 책 이미지 </th>
        <th> 저자명 </th>
        <th> 출판사 </th>
    </tr>
    </thead>
    <tbody id = "tbody">
    {{#myBooks}}
        <tr>
            <td>{{title}}</td>
            <td><a href = "/book/info/{{bookKey}}">{{bookCover}}</a>
            <td>{{author}}</td>
            <td>{{publisher}}</td>

        </tr>
    {{/myBooks}}
    </tbody>
</table>

<!--목록 출력 영역-->
<h2>최신 등록일 기준 정렬 list</h2>
<table class = "table table-horizontal table-bordered">
    <thead class = "thead-strong">
    <tr>
        <th> 책이름 </th>
        <th> 저자명 </th>
        <th> 출판사 </th>
    </tr>
    </thead>
    <tbody id = "tbody">
    {{#books}}
        <tr>
            <td>{{title}}</td>
            <td>{{author}}</td>
            <td>{{publisher}}</td>

        </tr>
    {{/books}}
    </tbody>
</table>





{{>layout/footer}}