{{>layout/header}}
<h2>검색어 결과 list </h2>
<table class = "table table-horizontal table-bordered">
    <thead class = "thead-strong">
    <tr>
        <th> 책이름 </th>
        <th> 책 이미지 </th>
        <th> 저자명 </th>
        <th> 출판사 </th>
    </tr>
    </thead>
    <tbody id = "tbody">
    {{#books}}
        <tr>
            <td>{{title}}</td>
            <td><a href = "/api/v1/books/info/{{bookKey}}">{{title}}</a>
            <td>{{author}}</td>
            <td>{{publisher}}</td>

        </tr>
    {{/books}}
    </tbody>
</table>
{{>layout/footer}}