{{! welcome }}

{{>layout/header}}
<h1> 동화팅 liverary 웰컴 페이지 </h1>
서비스 로고, 소셜 로그인 버튼 필요, 로그인 성공시 home으로 이동

<div class = "col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/oauth2/authorization/google"
               class="btn btn-success active"
               role="button"> Google Login </a>
        </div>
    </div>
</div>
{{>layout/footer}}