{{! welcome }}
<!DOCTYPE HTML>
<html>
<head>
    <title> liverary welcome page </title>
    <meta http-equiv="Content-Type" content="text/html;
                                            charset=UTF-8" />
</head>
<body>
<h1> 동화팅 liverary 웰컴 페이지 </h1>
서비스 로고, 소셜 로그인 버튼
</body>
</html>